<ion-content>
  <img class="" src="assets/images/bus-1.jpeg">
  <form class="container" nz-form name="loginForm" [formGroup]="loginForm" novalidate>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <span matPrefix><ion-icon name="person"></ion-icon></span>
          <input matInput placeholder="Email or Username" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <span matPrefix><ion-icon name="lock"></ion-icon></span>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-12">
        <ion-button size="large" shape="round" expand="block" color="primary" (click)="login()">Login</ion-button>
      </div>
      <div class="ion-padding-top">
        <ion-button size="large" shape="round" fill="outline" expand="block" color="primary" (click)="register()" >Register</ion-button>
      </div>
    </div>
  </form>
</ion-content>
