mat-form-field,button{
  width: 100%;
}

.img{
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container{
  padding: 30px 40px;
}

.swiper-slide {
  display: block;
}

ion-slide > h4 {
  margin-top: -1.5rem;
  margin-bottom: 2.8rem;
}

ion-slide > img {
  max-width: 40%;
  margin: 36px 0;
}

