small {
  font-family: 'Quicksand', sans-serif !important;
}

h5{
  margin-top: -10px;
  font-family: 'Quicksand', sans-serif !important;
}
h1{
  margin-top: -10px;
  font-family: 'Quicksand', sans-serif !important;
}
