
.img-container{
  position: relative;
  cursor: pointer;
  margin-bottom: 10px !important;
  border: solid 1px grey !important;
  border-radius: 5px !important;
  max-width: 50px;
  min-width: 50px;
}
.img-container>img{
  display: block;
  margin-top: 5px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.img-container>span{
  display: block !important;
  text-align: center !important;
}

.title{
  font-size: 15px !important;
}

mat-form-field, button{
  width: 100%;
}

//*{
//  border: solid grey 1px;
//}
