<ion-header>
  <ion-toolbar>
    <img src="assets/images/logo/img-head.png" class="img-head">
<!--    <ion-title class="ion-padding-bottom">Search</ion-title>-->
    <ion-chip slot="secondary" color="danger" *ngIf="offline">
      <ion-label>network disconnected ☹</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="wow heartBeat animated" (click)="GetAvailable()" data-wow-duration="1s" data-wow-delay="0.2s" [hidden]="searchForm.invalid">
    <ion-fab-button>
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ccpad wow slideInDown animated" data-wow-duration="0.5s" data-wow-delay="0.2s">
    <app-kz-date colorDate="#8bc34a" fontSizeDate="50px" fontSizeDay="25px" fontSizeMonthYear="15px"></app-kz-date>
    <form class="ion-padding container" nz-form name="loginForm" [formGroup]="searchForm" novalidate>
      <ion-row>
        <ion-col>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>FROM</mat-label>
            <input matInput placeholder="FROM" formControlName="from" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsFrom | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>TO</mat-label>
            <input matInput placeholder="TO" formControlName="to" [matAutocomplete]="toauto">
            <mat-autocomplete #toauto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsTo | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <div class="wow slideInRight animated" data-wow-duration="0.5s" data-wow-delay="0.2s">
    <app-kz-calendar (agDateChange)="getDate($event)" [minDate]="mindate" [maxDate]="maxdate"></app-kz-calendar>
  </div>
</ion-content>
